.globalSklad {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 94vh;
    background-color: rgba(6, 28, 71, 1);
    position: relative;
}

.container_sklad {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 98%;
    height: 96.5%;
    background-color: #fff;
}

.analitika {
    width: 98%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(6, 28, 71, 1);
}



.add_model_tyres {
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 145px;
}

.add_tyres {
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 125px;
}

.add_tyres_sort {
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 110px;
}

.spisok_list_object {
    width: 250px;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.job_tyres {
    display: none;
}


.titleModalSklad {
    padding: 5px 8px;
    font-size: 0.8rem;
    font-family: Arial;
    font-weight: bold;
    position: relative;
    background-color: #f5f5f5;
    border-bottom: 1px solid #f0eded;
    display: flex;
    align-items: center;
    color: rgba(6, 28, 71, 1);
    padding-left: 8px;
}

.listItemSklad {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    border-bottom: 1px solid #f0eded;
    color: rgba(6, 28, 71, 1);
    padding: 2px 15px;
    font-size: 0.7rem;
    font-family: Arial;
    font-weight: bold;
}

.clickElement {
    border: 1px solid rgba(6, 28, 71, 1);
}

.navi_sklad {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: rgba(6, 28, 71, 1);
    color: #fff;
    box-sizing: border-box;
    border-top: 2px solid #fff;
    position: relative;
}

.tyres_room {
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.up_name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(6, 28, 71, 1);
    color: #fff;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.activ_button_sklad {
    background-color: #fff;
    color: rgba(6, 28, 71, 1);
}

.up_name_header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(6, 28, 71, 1);
    color: #fff;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    box-sizing: border-box;
    border-top: 2px solid #fff;
}

.up_name_last_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(6, 28, 71, 1);
    color: #fff;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    box-sizing: border-box;
    border-top: 2px solid #fff;
}

.header_sklad {
    display: flex;
    border: 1px solid rgba(6, 28, 71, 1);
}

.body_sklad {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    position: relative;
    scrollbar-width: none;
    /* для Firefox */
    -ms-overflow-style: none;
    /* для Internet Explorer и Edge */
}

.list_body {
    width: 95%;
    height: 100%;
}

.body_sklad::-webkit-scrollbar {
    display: none;
    /* для Chrome, Safari и Opera */
}

.row_sklad {
    width: 98%;
    min-height: 70px;
    border: 1px solid rgba(6, 28, 71, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2px 0;
    cursor: pointer;
}

.click_row {
    background-color: lightgray;
}

.left_wrap_sklad {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.right_wrap_sklad {
    width: 67%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.right_model_wrap_sklad {
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cel_tyres_sklad {
    width: 100%;
    height: 20px;
    margin: 2px;
    color: rgba(6, 28, 71, 1);
    font-size: 1rem;
    font-weight: bold;
}


.ostatok_tyres {
    width: 22%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.sezon_tyres_and_type {
    width: 20%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sezon_tyres {
    width: 95%;
    height: 45%;
    background-image: url(../../../../image/leto.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_tyres {
    width: 95%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(6, 28, 71, 1);
    font-size: 1rem;
    font-weight: bold;
}

.icon_tyres {
    width: 30%;
    height: 92%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.protektor_tyres {
    width: 100%;
    height: 15%;
    /* Высота для всех по умолчанию */
    display: grid;
    place-items: center;
    margin: 1px 0;
}

.protektor_tyres:first-child {
    height: 70%;
    /* Высота для первого элемента */
}


.text_value {
    font-size: 0.6rem;
    font-weight: bold;
    color: rgba(6, 28, 71, 1);

}

.battery {
    border: 1px solid rgba(6, 28, 71, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 80%;
    height: 95%;
    background-color: #fff;
    padding: 2px;
    border-radius: 5px;
}

.delenie {
    width: 100%;
    height: 25%;
    margin: 1px;
    box-sizing: border-box;
}

.tyres_shema {
    width: 8px;
    height: 11px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 2px;
}

.osi_shema {
    width: 30px;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1px 0;
}

.osi_shema_car {
    width: 300px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1px 0;
}

.tyres_shema_car {
    width: 60px;
    height: 120px;
    border: 1px solid black;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.centerOs_shema_car {
    width: 180px;
    height: 4px;
    background-color: black;
}

.centerOs_shema {
    width: 22px;
    height: 1px;
    background-color: black;
}

.container_na_osi {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.charts_wrap_wheel {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.center_shema {
    display: flex;
    width: 98%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: none;
    /* для Firefox */
    -ms-overflow-style: none;
    /* для Internet Explorer и Edge */
}


.discription_car {
    width: 100%;
    color: rgba(6, 28, 71, 1);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

.container_shema {
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
    align-items: center;

}

.global_container {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.job_field {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    background-color: #fff;
}

.body_last_container {
    width: 100%;
    height: 98%;
    position: relative;
}


.wrap_graf {
    width: 1%;
    height: 98%;
    border: 2px solid rgba(6, 28, 71, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.tyres_model_card {
    display: none;
    position: absolute;
    top: 45%;
    left: 20.5%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.tyres_model_list {
    display: none;
}


.graf_uniq {
    width: 98%;
    height: 50px;
    background-image: url(../../../../image/graf_test.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.card_model_window {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgba(6, 28, 71, 1);
    background-color: #fff;
    border-radius: 5px;
}

.card_model_tyres {
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid rgba(6, 28, 71, 0.4);
}

.header_card_model_window {
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(6, 28, 71, 0.7);
    padding: 5px 10px;
    box-sizing: border-box;
    position: relative;
}

.header_card_tyres {
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(6, 28, 71, 0.7);
    padding: 5px 10px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}


.close_modal_window {
    position: absolute;
    right: 10px;
}

.body_card_model_window {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.body_card_tyres {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}



.image_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 5px 0;
}

.discripiton_image {
    color: rgba(6, 28, 71, 1);
    font-size: 0.9rem;
    font-weight: bold;
}

.image_card {
    width: 200px;
    height: 200px;
    margin: 10px 0;
    background-image: url(../../../../image/zeto_tyres.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.image_card_wiew {
    width: 140px;
    height: 140px;
    margin: 2px 0;
    background-image: url(../../../../image/zeto_tyres.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.image_picture {
    width: 250px;
    height: 250px;
}

.input-fields {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.input-fields_params {
    border-top: 2px solid rgba(6, 28, 71, 0.2);
    width: 100%;
    margin: 1px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.input-fields_wiew {
    width: 100%;
    margin: 1px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.field-row {
    width: 95%;
    display: flex;
    align-items: center;
    margin: 0.5px 0;
}

.field-label {
    width: 260px;
    color: rgba(6, 28, 71, 1);
    font-size: 0.95rem;
}

.styled-input {
    border: none;
    border-bottom: 1px solid rgba(6, 28, 71, 0.2);
    outline: none;
    color: rgba(6, 28, 71, 1);
    font-size: 0.95rem;
    width: 150px;
    text-align: right;
}

.styled-input:focus {
    border-bottom: 2px solid rgba(6, 28, 71, 1);
}


.footer_card_model_window {
    border-top: 2px solid rgba(6, 28, 71, 0.2);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;
    box-sizing: border-box;
}

.footer_card_tyres {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    box-sizing: border-box;
}

.save_params,
.load_image {
    height: 20px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 5px;
    border: 2px solid rgba(6, 28, 71, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(6, 28, 71, 0.7);
    margin: 2px 5px;
}


.reduct_params {
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    padding: 2px 5px;
    border-radius: 5px;
    border: 2px solid rgba(6, 28, 71, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(6, 28, 71, 0.7);
    margin: 2px 5px;
}

.save_params:active {
    background-color: steelblue;
}

.load_image:active {
    background-color: steelblue;
}

.reduct_params:active {
    background-color: steelblue;
}

.mess_validation {
    font-weight: bold;
    font-size: 1rem;
}


.tyres_model_list,
.card_tyres_window {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px;
    box-sizing: border-box;
}

.card_tyres_window {
    display: none;
    align-items: start;
}

.add_card_tyres {
    width: 455px;
    height: 100%;
    border: 2px solid rgba(6, 28, 71, 0.4);
    box-sizing: border-box;
}

.list_model_tyres_spisok {
    flex-grow: 1;
    height: 100%;
    border: 2px solid rgba(6, 28, 71, 0.4);
    box-sizing: border-box;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.model_body_analitika {
    flex-grow: 1;
    border: 2px solid rgba(6, 28, 71, 0.4);
    box-sizing: border-box;
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: none
}

.list_item_tyres_model {
    height: 100%;
    box-sizing: border-box;
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
}

.find_tyres {
    width: 100px;
    position: absolute;
    right: 3px;
}

.row_model {
    color: rgba(6, 28, 71, 1);
    display: flex;
    width: 99%;
    align-items: center;
    margin: 1px 0;
    padding: 2px;
    border: 1px solid rgba(6, 28, 71, 0.4);
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
}


.img_tyres {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
}

.parametr_tyres {
    flex-grow: 1;
    padding: 1px;
    margin-left: 10px;
    font-size: 0.85rem;
    box-sizing: border-box;
}


.autocomplete-list {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
}

.autocomplete-item {
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-item:hover {
    background-color: #e9e9e9;
}

.modal_podtver {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(6, 28, 71, 1);
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 5px;
}

.header_podtver {
    width: 100%;
    height: 30px;
    background-color: rgba(6, 28, 71, 0.7);
    color: #fff;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_podtver {
    width: 100%;
    height: 130px;
    color: rgba(6, 28, 71, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.body_podtver_install {
    width: 100%;
    height: 60px;
    color: rgba(6, 28, 71, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.body_podtver_install2 {
    width: 100%;
    height: 120px;
    color: rgba(6, 28, 71, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header_podtver_question {
    width: 100%;
    height: 30px;
}

.text_disklaymer {
    position: absolute;
    top: 50px;
    font-weight: bold;
}

.body_sorting {
    height: auto;
}

.button_podtver {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(6, 28, 71, 0.7);
    background-color: rgba(6, 28, 71, 0.7);
    padding: 2px;
    box-sizing: border-box;
}

.ok_podtver,
.cancel_podtver {
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    width: 50%;
    text-align: center;
    margin: 0 5px;
}

.ok_podtver:active {
    color: steelblue;
}

.cancel_podtver:active {
    color: steelblue;
}

.styled-select,
.comm {
    width: 90%;
    padding: 8px;
    font-size: 14px;
    color: rgba(6, 28, 71, 1);
    border: 1px solid rgba(6, 28, 71, 1);
    border-radius: 4px;
    appearance: none;
    background-color: #fff;
}

.styled-select:focus {
    border-color: rgba(6, 28, 71, 1);
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.styled-select.invalid {
    border-color: red;
    color: red;
}


.comm {
    height: 40px;
    resize: none;
    width: 81%;
    color: rgba(6, 28, 71, 1);
}


.status_tyres {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(6, 28, 71, 1);
    font-size: 1.3rem;
    font-weight: bold;
}

.position_icon {
    position: absolute;
    top: 90px;
    right: 100px;
    cursor: pointer;
    font-size: 1.5rem;
}


.header_card_tyres_wheel {
    width: 100%;
    display: flex;
    align-items: center;
}

.card_model_tyres_wheel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid rgba(6, 28, 71, 0.4);
}

.image_container_wheel {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.protector {
    flex-grow: 1;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.body_card_tyres_wheel {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-right: 2px solid rgba(6, 28, 71, 0.2);
    box-sizing: border-box;
}

.all_body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid rgba(6, 28, 71, 0.2);
    box-sizing: border-box;
}

.analitika_wheel {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}

.child_chart {
    width: 370px;
    height: 310px;
}

.new_card_label {
    width: 250px;
    color: rgba(6, 28, 71, 1);
    font-size: 0.9rem;
}

.new_card_input {
    border: none;
    border-bottom: 1px solid rgba(6, 28, 71, 0.2);
    outline: none;
    color: rgba(6, 28, 71, 1);
    font-size: 0.95rem;
    width: 100px;
}

.field-row_wheel {
    width: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    margin: 0.5px 0;
}

.headerMM {
    margin-top: 5px;
    width: 174px;
    display: flex;
    justify-content: space-between;
}

.titleMM,
.protektors_wheel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20px;
    font-size: 0.6rem;
    font-weight: bold;
    color: rgba(6, 28, 71, 1);
    text-align: center;
    border: none
}

.maxMMM {
    position: absolute;
    top: 0;
    left: -25px;
}


.mm0 {
    position: absolute;
    top: 80%;
    left: -15px;
    border-bottom: 1px solid rgba(6, 28, 71, 0.4);
    font-weight: bold;
    font-size: 0.7rem;
    color: rgba(6, 28, 71, 1);
    margin: 0;
}

.mmtext {
    width: 15px;
    font-size: 0.7rem;
    font-weight: bold;
    color: rgba(6, 28, 71, 1);
    margin: 0;
    background: none;
    border-bottom: 1px solid rgba(6, 28, 71, 0.4);
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.tooltip_tochka {
    background-color: #fff;
    width: 300px;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    top: 15px;
    left: 90px;
    border: 1px solid rgba(6, 28, 71, 0.2);
}


.tooltip_element {
    display: flex;
    width: 100%;
    margin: 1px 0;
    align-items: center;
    justify-content: space-around;
}

.tooltip_element_title {
    margin: 0 2px;
    font-size: 0.7rem;
    color: rgba(6, 28, 71, 1);
    width: 57%;
}

.tooltip_element_value {
    margin: 0 2px;
    font-size: 0.7rem;
    color: rgba(6, 28, 71, 1);
    width: 25%;
}

.tooltip_element_value_otklonenie {
    margin: 0 2px;
    font-size: 0.7rem;
    color: rgba(6, 28, 71, 1);
    width: 18%;
}

.table_ishue {
    width: 99%;
    border: 1px solid rgba(6, 28, 71, 0.2);
    margin: 0 auto;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.dannie_stat {
    width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.header_stat {
    width: 100%;
    color: #fff;
    background-color: rgba(6, 28, 71, 0.7);
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
}

.wrapper_visual_wheel {
    width: 100%;
    height: 100%;
}


.card_wheel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 99%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 5px 0;
}

.card_wheel_chart {
    width: 500px;
    border: 1px solid rgba(6, 28, 71, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.7rem;
    padding-top: 10px;
    position: relative;
}

.list_data_time {
    margin: 0 5px;
    height: 310px;
    flex-grow: 1;
    border: 1px solid rgba(6, 28, 71, 0.2);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.header_list_data_time {
    width: 100%;
    background-color: rgba(6, 28, 71, 0.7);
    color: #fff;
    font-size: 0.8rem;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
}


.body_zamer {
    width: 100%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: none;
    /* для Firefox */
    -ms-overflow-style: none;
    /* для Internet Explorer и Edge */
}



.center_shema::-webkit-scrollbar {
    display: none;
    /* для Chrome, Safari и Opera */
}

.body_zamer::-webkit-scrollbar {
    display: none;
    /* для Chrome, Safari и Opera */
}

.listRows {
    margin: 2px 0;
    border-bottom: 1px solid rgba(6, 28, 71, 0.2);
    box-sizing: border-box;
    color: rgba(6, 28, 71, 1);
    cursor: pointer;
    font-size: 0.8rem;
}

.listRows:hover {
    background-color: #e9e9e9;
}

.selected {
    background-color: #e9e9e9;
}


.wheel_card {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.right_container_chart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dannie_wheel_info {
    display: flex;
    flex-direction: column;
}

.info_discription {
    margin: 2px 0;
    color: rgba(6, 28, 71, 1);
    font-size: 0.8rem;
    font-weight: bold;
}

.row_wheel_sklad {
    width: auto;
    height: auto
}

.center_body_list {
    margin-bottom: 10px;
}

.description_wheel {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 10px;
}

.list_discription {
    font-size: 0.8rem;
    color: rgba(6, 28, 71, 1);
    margin-left: 10px
}

.left_container {
    align-items: end;
}

.right_container {
    align-items: start;
}

.row_text_shina {
    font-size: 0.7rem;
    color: rgba(6, 28, 71, 1);
    width: 100%;
    font-weight: bold;

}

.discription_shina_wrap {
    width: 160px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    box-sizing: border-box;
    position: absolute;
    top: -6px;
    border-bottom: 1px solid rgba(6, 28, 71, 0.2);
}

.legend_wheel_chart {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: absolute;
    top: 60px;
    right: 10px;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

}

.dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 10px;
}

.contur {
    border: 1px solid green
}

.blue {
    background-color: blue;
    border-top: 1px solid transparent;
}

.green {
    background-color: green;
    border: 1px solid transparent;
}

.line_wheel {
    display: inline-block;
    width: 10px;
    margin-right: 7px;
}

.dashed_red {
    border: 1px dashed darkred;
}

.dashed_blue {
    border: 1px dashed blue;
}

.solid {
    border-top: 3px solid blue;
}

.thin {
    border-top: 1px solid blue;
}

.label {
    font-size: 0.5rem;
    color: rgba(6, 28, 71, 1);
}


.find_wheel {
    position: absolute;
    bottom: 3px;
    right: 2px;
}

.find_wheel_rows {
    margin: 0;
    padding-left: 20px;
    box-sizing: border-box;
}

.loops {
    left: 5px;
}

.row_kritery {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 2px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(6, 28, 71, 0.2);
    cursor: pointer;
}

.flag_sorting {
    font-size: 0.7rem;
    color: gray;
}

.text_sotring {
    font-size: 0.8rem;
    margin-left: 10px;
}

.activFlagSort {
    color: rgba(6, 28, 71, 1);
}

.discription_axis {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row_axis {
    width: 100%;
    padding: 1px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(6, 28, 71, 0.2);
    color: rgba(6, 28, 71, 1);
    font-size: 0.8rem;
}