<div class="save">
    <button class="btn_save">Сохранить конфигуратор</button>
</div>
<div class="clear">
    <button class="btn_clear">Очистить модель</button>
</div>
<div class="dropdown">
    <button class="dropbtn">Кол-во осей</button>
    <ul class="dropdown-content">
        <li class="linkSelect">1</li>
        <li class="linkSelect">2</li>
        <li class="linkSelect">3</li>
        <li class="linkSelect">4</li>
        <li class="linkSelect">5</li>
        <li class="linkSelect">6</li>
        <li class="linkSelect">7</li>
        <li class="linkSelect">8</li>
    </ul>
</div>