<div class="mainConfig">
    <span class="configClear">&#10006</span>
    <div class="rotateDiv"><button class="btn_rotate">Ротация</button></div>

    <div class="saveId">
        <div class="generateId">
            <button class="btn_generate">Сгенерировать ID</button>
        </div>
        <div class="listId">
            <button class="btn_base">База колес</button>
            <div class="findTyresId"> <input class="findValueId" id="inputId"> <button class="buhId">&#8595</button>
            </div>
        </div>
    </div>
    <p class="messageId"></p>
</div>