html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #333;
  font-family: Arial;
}

.username,
td {
  border: 1px solid #666;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.list_menu_left {
  display: flex;
  justify-content: center;
  width: 35%;
  list-style-type: none;
  margin: 0;
  padding: 10px 10px;

}

.list_menu_center {
  display: flex;
  width: 65%;
  list-style-type: none;
  margin: 0;
  padding: 10px 122.5px;

}



.list_item_menu:nth-child(n+2) {
  margin-left: 15px;

}

.car_item {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
}

.car_item:hover {
  background-color: lightgray;
  color: #fff;
}


.link_menu {
  text-decoration: none;
  font-family: Roboto;
  color: lightgray;
  font-weight: 900;
  font-size: 1rem;
}

.car {
  color: #000;
}





.detalisation {

  border: 20px solid lightgray;
  display: none;
  flex-direction: column;
}

.format {
  margin-top: 30px;
}

.title_det {
  font-size: 1rem;
  text-align: center;
}

.list_det {
  font-size: 0.8rem;
  margin-top: 5px;
}



.wrapper_left {


  border: 20px solid lightgray;
}