.up_shablons,
.object,
.interval_reports {
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.select_list {
    padding: 1px 2px;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.titleChange_list_name {
    font-size: 0.9rem;
    font-weight: 400;
    width: 35%;
}

.toggle_reports {
    font-size: 0.9rem;
    color: rgba(6, 28, 71, 0.8);
    background: none;
    border: 1px solid rgba(6, 28, 71, 0.8);
    border-radius: 3px;
    width: 55%;
    scrollbar-width: none;
    /* для Firefox */
    -ms-overflow-style: none;
    /* для Internet Explorer и Edge */
}

.down_calendar {
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
}

.add_resourse {
    display: none;
}

.titleChange_list {
    display: flex;
    align-items: center;
    width: 100%;
}

.create_reports {
    width: 33%;
    padding: 5px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 200;
    background-color: rgba(6, 28, 71, 0.8);
    border: 1px solid rgb(28, 123, 160);
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_preferens {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.complite {
    margin-left: 5px;
    background-color: rgba(6, 28, 71, 1);
}

.btm_formStart {
    padding: 5px 8px;
    color: rgb(28, 123, 160);
    background-color: #fff;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 5px;
}

.control {
    color: #fff;
    background-color: rgba(6, 28, 71, 0.8);
    border: 1px solid rgb(28, 123, 160);
}

.complite:active {
    background-color: #fff;
    color: rgba(6, 28, 71, 1);
}

.create_reports:active {
    background-color: #fff;
    color: rgba(6, 28, 71, 1);
}

.wrapper_template {
    width: 60%;
    height: 800px;
    border: 2px solid rgba(6, 28, 71, 0.8);
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.header_template {
    width: 100%;
    background-color: rgba(6, 28, 71, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    box-sizing: border-box;
    color: #fff;
    position: relative;
}

.close_wrap_template,
.close_wrap_template_two {
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 10px
}

.name_template {
    color: rgba(6, 28, 71, 0.8);
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    position: absolute;
    left: 10px
}

.title_wrapper {
    color: #fff;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.footer_index {
    justify-content: space-between;
    padding: 3px 10px;
    box-sizing: border-box;
}

.body_type_tamplate {
    width: 33%;
    border: 1px solid rgba(6, 28, 71, 0.8);
    height: 700px;
    border-radius: 10px;
    margin: 0 5px;
}



.title_type_template {
    width: 100%;
    background-color: rgba(6, 28, 71, 0.8);
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    padding: 4px 0;
}

.checkbox_item {
    width: 95%;
    margin: 3px 0;
    font-size: 0.9rem;
    color: rgba(6, 28, 71, 0.8);
    display: flex;
    align-items: center;
}

.label_check_tambplate {
    margin-left: 10px
}

.calendarReports {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background: #fff;
}

.btn_speedStart_reports {
    margin-top: 5px;
    display: flex;
}

.input_data {
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgba(6, 28, 71, 1);
    text-align: center;
    padding: 3px 0
}



.clear_report {
    background-color: #fff;
    color: rgba(6, 28, 71, 1);
    border: 1px solid rgba(6, 28, 71, 1)
}

.navi_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_none {
    display: none;
}

.checkbox-list {
    width: 95%;
    margin-bottom: 10px;
}

.modal_form {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(6, 28, 71, 0.8);
    z-index: 3;
    border-radius: 5px;
    display: none;
}

.wrap_resourse {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_resourse {
    width: 100%;
    background-color: rgba(6, 28, 71, 0.8);
    color: #fff;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_resourse {
    width: 100%;
    background-color: rgba(6, 28, 71, 0.8);
    color: #fff;
    padding: 3px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


.body_resourse {
    padding: 5px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 200px;
}

.save_resourse {
    width: 100%;
    color: #fff;
    margin: 0;
}

.rows_resourse {
    color: rgba(6, 28, 71, 0.8);
}

.edition_template {
    font-size: 0.9rem;
    margin-left: 5px;
    cursor: pointer;
}

.delete_template {
    font-size: 0.9rem;
    margin-left: 5px;
    cursor: pointer;
    color: darkred
}

.edition_template:hover {
    animation-name: wiggle;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}


.cell_params {
    display: none;
    margin-left: 25px;
}

.short_btn {
    width: 150px;
}

.cell_reports {
    text-align: left;
    padding-left: 5px;
}



.templates_title {
    margin: 0 10px;
}

.cell_title_reports {
    position: sticky;
    top: 0;
    background-color: #fff;
    text-align: center;
    padding: 0;
    font-weight: bold;
    height: 15px;
    width: 200px;
}

.wrapper_reports {
    height: 490px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid rgba(6, 28, 71, 0.8);
    text-align: center;
    overflow-y: auto;
    position: relative;
    color: rgba(6, 28, 71, 0.8);
    scrollbar-width: none;
    /* для Firefox */
    -ms-overflow-style: none;
    /* для Internet Explorer и Edge */
}

.down_content {
    width: 100%;
    height: 95%;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
}

.down_block {
    width: 97%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.list_reports {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5px;

}

.titleNameReport {
    width: 100%;
    font-size: 0.8rem;
    list-style-type: none;
    border-bottom: 1px solid rgba(6, 28, 71, 1);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1px 0;
    width: 100%;
    cursor: pointer;
    color: rgba(6, 28, 71, 1);
}

.spoyler_report {
    width: 100%;
    font-size: 1rem;
    list-style-type: none;
    border-bottom: 1px solid rgba(6, 28, 71, 1);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1px 0;
    width: 100%;
    cursor: pointer;
    color: rgba(6, 28, 71, 1);
}

.body_content_report {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper_file {
    position: absolute;
    top: 0;
    right: 20px;
    width: 70px;
}

.file {
    padding: 2px 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 95%;
}

.icon_print {
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0 5px;
}

.celevoy_card {
    width: 98%;
    margin: 15px auto;
    border: 2px solid rgba(6, 28, 71, 0.8);
    border-radius: 5px;
}

.card_rep {
    width: 100%;
}


.title_result_reports {
    width: 100%;
    height: 30px;
    background-color: rgba(6, 28, 71, 0.8);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

}

.wrapper_shablon {
    width: 33%;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(6, 28, 71, 0.8);
    box-sizing: border-box;
    border-radius: 5px;
}

.wrapper_result {
    width: 33%;
    border-radius: 5px;
    border: 2px solid rgba(6, 28, 71, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper_reports_map {
    width: 33%;
    border-radius: 5px;
    border: 2px solid rgba(6, 28, 71, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}



.down_content {
    width: 100%;
    padding: 5px;
    display: flex;
}

.loaders_report {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(6, 28, 71, 0.8);
}

.activeTitleReports {
    background-color: rgba(6, 28, 71, 0.8);
    color: #fff
}

.titleNameReport:active {
    background-color: rgba(6, 28, 71, 0.8);
    color: #fff
}

.titleNameReport:hover {
    border-bottom: 2px dashed rgba(6, 28, 71, 0.8);
}

.list_objects_reports {
    display: none;
    position: absolute;
    top: 60px;
    left: 90%;
    background-color: #fff;
    z-index: 2;
}

.field_find {
    background: none;
    border: 1px solid rgba(6, 28, 71, 0.8);
    border-radius: 3px;
    box-sizing: border-box;
    width: 55%;
}

.rows_objects_reports {
    overflow-y: auto;
    height: 400px;
    scrollbar-width: none;
    /* для Firefox */
    -ms-overflow-style: none;
    /* для Internet Explorer и Edge */
}

.footer_rows_reports {
    padding: 2px 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 34px;
    border-top: 1px solid rgba(6, 28, 71, 0.8);
    box-sizing: border-box;
}

.btn_list_rows {
    cursor: pointer;
    color: #fff;
    width: 50%;
    height: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(6, 28, 71, 0.8);
}

.btn_list_rows:active {
    background-color: #fff;
    color: rgba(6, 28, 71, 0.8);
}

.group_list {
    color: #fff;
    background-color: rgba(6, 28, 71, 0.5);
    padding: 1px 0;
}

.rows_list {
    width: 100%;
    height: 20px;
}

.object_list {
    font-size: 0.75rem;
}

.iconRefill {
    display: block;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13.5px;
    height: 13.5px;
    background-color: #fff;
    color: rgba(6, 28, 71, 0.8);
    cursor: pointer;
    margin-left: 3px;
}


.objects_container {
    display: none;
    padding-left: 16px;
}

.numberOfChoise {
    margin: 0 5px;
    font-weight: 300;
    font-size: 1rem;
}


.item_reports {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2px 0;
    padding: 2px 0;
    border-bottom: 1px solid rgba(6, 28, 71, 0.4);
}

.rows_spoyler {
    margin: 0 10px;
    width: 20%;
    font-size: 0.9rem;
    text-align: left;
}

.swich {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    width: 13px;
    height: 13px;
    font-size: 0.9rem;
    border: 1px solid rgba(6, 28, 71, 0.8);
    cursor: pointer;
}

.chart_container {
    width: 100%;
    display: none;
    background-color: #fff;
}

.chart_class {
    width: 100%;
    position: relative;
}

.line1 {
    z-index: 2;
}

.tooltip_reports {
    position: absolute;
    background-color: #fff;
    padding: 2px;
    border: 1px solid rgba(6, 28, 71, 0.8);
    ;
    opacity: 0;
    width: 300px;
    pointer-events: none;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
}

.header_tooltip_report {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(6, 28, 71, 0.8);
    padding: 2px 3px;
    color: rgba(6, 28, 71, 0.8);
    font-size: 0.8rem;
    box-sizing: border-box;
}

.body_report_tooltip {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 3px;
    box-sizing: border-box;
    font-size: 0.8rem;
    color: rgba(6, 28, 71, 0.8);
}

.row_report_tooltip {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 3px;
}

.elem_tooltip {
    margin: 0 2px;
}

.color_line_tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 2px;
    margin: 0 5px;
    border-radius: 5px;

}

.name_line_tooltip {
    width: 170px;
    text-align: left;
}

.value_line_tooltip {
    width: 100px;
    text-align: left;
}

.icon_model {
    width: 20px;
    margin: 0 10px;
    margin-bottom: 2px;
    border: 1px solid black;
    padding: 1px;

}

.last_icon_model {
    margin-bottom: 30px;
}


.text_refill_drain {
    font-size: 0.9rem;
}

i.full_screen {
    display: none;
    color: rgba(6, 28, 71, 0.8);
    cursor: pointer;
    flex-grow: 1;
    text-align: end;
    margin-right: 15px;
}

.center_element {
    padding: 150px 10px;
    box-sizing: border-box;
}

.tooltip_reports_moto {
    display: none;
    opacity: 0;
    min-width: 120px;
    position: absolute;
    border: 1px solid rgba(6, 28, 71, 0.8);
    border-radius: 5px;
    background-color: #fff;
    padding: 2px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: start;
}

.textContent_reporots {
    margin: 2px 0;
    font-size: 0.9rem;
    color: rgba(6, 28, 71, 0.8);
}

.span_reports_moto {
    font-size: 0.8rem;
}

.start_save {
    border-right: 1px solid #fff;
}

.cancel_start {
    border-left: 1px solid #fff;
}