.header_logo {
    width: 100%;
    height: 60px;
    background-color: #061c47;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.img_logo {
    object-fit: contain;
    /* или cover — смотри ниже */
}

.head_meta {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
}

.chart_head_meta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nadpis {
    font-size: 1.2rem;
    color: #061c47
}

.body_pdf {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
}

.contant_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.title_type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.next {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 4px 0;
    box-sizing: border-box;
}

.title_name {
    color: #061c47;
    font-size: 1.4rem;
}

.title_number {
    color: #061c47;
    font-size: 1.4rem;
}

.dashes {
    width: 100%;
    border-bottom: 2px dotted #061c47;
    padding-top: 12px;
    margin: 0 5px;
}

.title_component_sub {
    padding-left: 26px;
    box-sizing: border-box;
    margin: 2px 0;
}

.component_title {
    font-size: 1.2rem;
    color: #061c47;
    white-space: nowrap;
}


.page_break {
    page-break-before: always;
    margin-top: 20px;
}

.statistika_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.components_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.name_object {
    font-size: 1.4rem;
    color: #061c47;
    align-self: center;
}

.name_component {
    width: 50%;
    margin: 10px 0;
    font-size: 1.4rem;
    color: #061c47;
    width: 50%;
    display: flex;
    justify-content: center;
}



.statistika_table {
    width: 50%;
    border-collapse: collapse;
}

.components_table {
    max-width: 100%;
    border-collapse: collapse;
    word-wrap: break-word;
}

.components_table td {
    border: 1px solid #061c47;
    padding: 8px;
    color: #061c47;
    text-align: center;
    word-wrap: break-word;
}

.components_table th {
    border: 1px solid #061c47;
    padding: 8px;
    color: #061c47;
    word-wrap: break-word;
}

.statistika_table td {
    border: 1px solid #061c47;
    padding: 8px;
    color: #061c47;
}

.left_stat {
    text-align: left;
}

.right_stat {
    text-align: center;
}

.page_component {
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.components_table .left_stat {
    text-align: left;
    word-wrap: break-word;
}

.components_table td.last-row-cell {
    border-top: 3px solid #38496C;
    font-weight: bold;
}

.wrap_icon {
    margin-right: 20px;
    margin-left: 8px;
    width: 25px;
    height: 25px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.uniqum_legend {
    display: flex;
    align-items: center;
}


.body_legend {
    width: 100%;
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.legend_container {
    width: 100%;
    min-height: 30px;
    background-color: #38496C;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    color: #fff
}

.rect_legend {
    margin-right: 20px;
    margin-left: 8px;
    width: 52px;
    height: 25px;
    background-color: #fff;
    cursor: pointer;
}

.rect_legend_moto {
    font-size: 0.9rem;
    padding: 2px 5px;
    border-radius: 3px;
    color: rgba(6, 28, 71, 0.8);
    margin-right: 4px;
    box-sizing: border-box;
}

.skdsh_leg {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    padding: 2px 0;
}

.value_tool_skdah {
    text-align: left;
}

.info_window {
    font-size: 0.9rem;
    padding: 2px 5px;
    color: rgba(6, 28, 71, 1);
    background-color: #fff;
    min-width: 52px;
    height: 20px;
    margin-right: 8px;
    box-sizing: border-box;
}

.title_container_meta {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;

}

.row_meta {
    margin: 5px 0;
    display: flex;
    align-items: center;
    color: rgba(6, 28, 71, 1);
}

.title_meta {
    font-size: 1rem;
    margin-right: 15px;
}